.item-hats,
.item-jackets,
.item-sneakers,
.item-womens,
.item-mens{
    
    border: 1px solid black;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .background-image{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    &:hover{
        cursor: pointer;

        & .background-image{
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content{
            opacity: .9;
        }
    }

    .content{
        background-color: #fff;
        padding: 1rem 2rem;
        text-transform: uppercase;
        line-height: 1.4;
        color: black;
        border: 1px solid black;
        position: absolute;
        opacity: .5;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: opacity .6s cubic-bezier(0.25, 0.45, 0.45, 0.95);

        &__title{
            display: block;

        }
        &__subtitle{
            font-weight: 600;
        }
        
    }
}

.item-hats{
    grid-column: col-start 1 / col-end 2;
    grid-row: row-start 1 / row-end 2;
}
.item-jackets{
    grid-column: col-start 3 / col-end 4;
    grid-row: row-start 1 / row-end 2;
}

.item-sneakers{
    grid-column: col-start 5 / col-end 6;
    grid-row: row-start 1 / row-end 2;
}
.item-womens{
    grid-column: col-start 1 / col-end 3;
    grid-row: row-start 3 / -1;
}
.item-mens{
    grid-column: col-start 4 / -1;
    grid-row: row-start 3 / -1;
}